* {
	font-family: "Arial";
}

#background {
	z-index:0;
	position: absolute;
	top: 102px;
	background-image: url(../../src/img/Rock.png);
	background-size: 720px 720px;
	width: 720px;
	height: 720px;
}

#gameContainer {
	width: 720px;
	float: left;
	position: relative;
}

#legend {
	margin-top: 100px;
	margin-left: 30px;
	float: left;
}

#legend2 {
	margin-top: 157px;
	float: left;
}

#text {
	margin-bottom: 33px;
}

.row {
	height: 24px;
}

.column {
	position: relative;
	z-index: 2;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
}

#startGame {
	float: left;
	width: 120px;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	background-color: black;
	color: white;
}

#startGame:hover {
	color: red;
	cursor: pointer;
}

#pauseGame {
	float: left;
	width: 120px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
	text-align: center;
	background-color: black;
	color: white;
}

#pauseGame:hover {
	color: red;
	cursor: pointer;
}

.run {
	width: 240px;
	height: 240px;
	background-color: grey;
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: -1;
}

#resumeGame {
	float: left;
	width: 120px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
	text-align: center;
	background-color: black;
	color: white;
}

#resumeGame:hover {
	color: red;
	cursor: pointer;
}

.pause {
	height: 475px;
	width: 330px;
	padding: 200px;
	background-color: grey;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}

#levelCountdown {
	float: left;
	width: 200px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
	text-align: center;
}

b {
	color: red
}
